<% if chat_room.member?(current_user) || chat_room.owner?(current_admin) %>
  <li>
    <%= link_to "Enter #{chat_room.title}", chat_room_path(chat_room) %>
    <% if chat_room.owner?(current_admin) %>
      <%= link_to '(manage members)', edit_room_user_path(chat_room) %>
    <% end %>
  </li>
<% end %>